body {
  font-family: "Raleway", sans-serif;
}
.navbar {
  height: 100px;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  background: url(../images/header-bg.png) center top no-repeat;
}
.navbar-brand{
  padding:0 15px;
}
.navbar-toggle .icon-bar {
  background: grey;
}
.navbar-nav > li > a {
  margin-top: 15px;
  color: grey;
  font-weight: 600;
}
.navbar img {
  max-width: 300px;
}
#myNavbar {
  background: #fff;
}
.navbar-nav > li > a {
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}
@media (max-width: 1300px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  #myNavbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.navbar-toggle {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .navbar {
    height: 70px;
    padding: 5px;
  }
  .navbar img {
    max-width: 215px;
  }
  #myNavbar {
    margin-top: 14px;
  }
  .navbar-toggle {
    margin-top: 10px;
  }
  .usecase-banner {
    padding: 75px 0;
  }
}
.intro-section {
  background: url("../images/farm3.jpg");
  /*background:#008aff;*/
  height: 600px;
  padding: 0 60px;
}
.intro-section h1 {
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  margin-top: 120px;
  line-height: 55px;
}
.intro-section h1 b {
  font-size: 40px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li:active > a {
  border-bottom: 2px solid #008aff;
  color: #008aff;
  background: #fff;
  transition: box-shadow 0.8s ease-in-out;
}
.read-more {
  background: transparent;
  border: 1px solid #fff;
  width: 200px;
  height: 50px;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 50px;
}
.read-more:hover {
  color: #718cdd;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease-in-out;
} 
.bot-logo img {
  margin-top: 130px;
  height: 260px;
}
@media only screen and (max-width: 991px) {
  .intro-section {
    height: auto;
    padding: 15px 20px;
  }
  .intro-section h1 {
    font-size: 20px;
    margin-top: 30px;
  }
  .intro-section h1 b {
    font-size: 30px;
  }
  .ceo-name {
    font-size: 16px;
  }
  .read-more {
    width: 180px;
    height: 50px;
  }
  .bot-logo img {
    margin-top: 20px;
  }
}
.discover-us {
  padding: 50px;
}
.discover-us hr {
  width: 60%;
}
.discover-card {
  position: relative;
  width: 250px;
  margin-right: 20px;
  display: inline-table;
}
.hexagon {
  top: 35px;
  position: relative;
  width: 70px;
  height: 40.41px;
  background-color: #ffffff;
  margin: 20.21px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.5px;
  height: 49.5px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.2513px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hexagon:before {
  top: -24.7487px;
}

.hexagon:after {
  bottom: -24.7487px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 40.4145px;
  z-index: 2;
  background: inherit;
}
.discover-contents {
  margin: 30px 0 20px 0;
}
.discover-box {
  padding: 10px 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 260px;
}
.discover-box h4 {
  font-weight: 700;
  margin-top: 35px;
}
.discover-card img {
  position: absolute;
  top: 50px;
  width: 44px;
  z-index: 99;
  margin-left: 12px;
}
.view-more {
  background: transparent;
  border: 1px solid #808080;
  width: 120px;
  height: 33px;
  color: #718cdd;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 50px;
  position: absolute;
  left: 66px;
  bottom: 8px;
}
.view-more:hover {
  background: #718cdd;
  border: 1px solid #718cdd;
  color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease-in-out;
}

.features-section { 
  background:#008aff;
  margin: 0 15px 15px;
  height: 560px;
  padding: 50px 0;
}
.discover-us h4 {
  line-height: 30px;
}
.features-section h1 {
  text-align: center;
  color: #fff;
}
.features-box {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  display: inline-block;
  width: 310px;
  min-height: 65px;
  text-align: left;
  margin-bottom: 35px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 65px;
  display: inline-flex;
}
.features-box img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 5px;
  margin-right: 25px;
}
.features-content {
  margin-top: 60px;
}
.feat-line {
  position: absolute;
  max-height: 430px;
  left: calc(50vw - (/* width */ 692px / 2));
}
.discover-box p {
  line-height: 24px;
}
.discover-sub h4 {
  padding: 0 100px;
}
@media only screen and (max-width: 991px) {
  .discover-us {
    padding: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .features-section {
    height: auto;
  }
  .feat-line {
    display: none;
  }
  .features-section {
    padding: 30px 0;
  }
  .features-content {
    margin-top: 35px;
  }
  .features-box {
    margin-bottom: 25px;
  }
  .discover-sub h4 {
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .features-box {
    width: 270px;
  }
}

.usecase-banner .usercase-banner-blocks {
  padding: 20px 100px;
}
.usecase-banner .blocks {
  width: 270px;
}
.usecase-banner .head {
  color: #202021;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.usecase-banner h3 {
  border-bottom: none !important;
  color: #585bb6;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.usecase-banner p {
  color: #929598;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.usecase-banner .borderline {
  border: 0.8px solid #b7b7b7;
  width: 184px;
  position: relative;
}
.usecase-banner hr {
  width: 40%;
}
.usecase-banner caption {
  padding: 6px;
}
.usecase-banner .footer p {
  color: #585bb6;
  line-height: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.usecase-banner .caption-footer img {
  vertical-align: middle;
  height: 20px;
  margin-top: -6px;
  margin-left: 3px;
}
.conversation-block {
  background-color: #00192e;
  min-height: 120px;
  position: relative;
}
.conversation-block .conversation-content {
  text-align: center;
  font-size: 20px;
  padding: 75px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.conversation-content img {
  width: 106px;
  position: absolute;
  right: 30px;
  bottom: 60px;
}
.conversation-content .image-below-content {
  color: #fff;
  position: absolute;
  right: 30px;
  bottom: 21px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.conversation-content {
  font-family: "Raleway", sans-serif;
}
.footer {
  background: url(../images/get-ready-new-bg2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px;
}
.caption-footer p {
  color: #585bb6;
}
.footer h4 {
  color: #fff;
}
.footer .menuheading ul {
  margin: 0;
  padding: 0;
}
.footer .menuheading ul li {
  list-style-type: none;
}
.footer .menuheading ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 34px;
  padding: 20px 0px;
  font-family: "Raleway", sans-serif;
}
.footer .menu li a img {
  width: 25px;
  padding-right: 10px;
}
.footer .social-icons a {
  padding-right: 20px;
  text-decoration: none;
}
.social-icons img {
  width: 18px;
  margin-top: 15px;
}
.contact-information {
  position: fixed;
  bottom: 86px;
  right: 30px;
  text-align: center;
}
.contact-information p {
  color: #fff;
  background-color: #59c6cc;
  width: 205px;
  padding: 14px 20px;
  border-radius: 5px;
}
.footer-links {
  margin-top: 40px;
}
.footer-links .pull-left {
  float: left;
}
.footer-links ul {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}
.footer-links ul li {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #fff;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
}
.footer-links ul li:last-child {
  border: none !important;
}
.footer-links .contact-info li {
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
  padding-left: 10px;
}
.contact-information p:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #59c6cc;
  position: absolute;
  bottom: 37px;
  left: 48%;
  margin: 0 0 0 -3px;
  z-index: 100;
}
.menuheading {
  margin-bottom: 20px;
}
.usecase-banner {
  padding: 75px 0;
}
.thumbnail {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 591px) {
  .usecase-banner .usercase-banner-blocks {
    padding: 20px;
  }
}
#morningo-con{
	padding: 34px 44px;
	
}
#morningo-con h2{   
	color: #414042;
    font-weight: 700;
    letter-spacing: -.5px;
    margin: 0 0 20px;
	font-size: 48px;
    line-height: 50px;
	text-align:center;
}
.morningo-scroll .morningo-img{
	float:right;
}
.morningo-scroll .morningo-caption{
	width: 41.6666666667%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
    text-align: -webkit-center;
    margin-top: 80px;
}
.morningo-row .morningo-img{
	float:left;
}
.morningo-row .morningo-caption{
	width: 41.6666666667%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
	float:right;
	text-align: -webkit-center;
    margin-top: 80px;
}
