body {
  font-family: "Raleway", sans-serif;
}
.navbar {
  height: 100px;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  background: url(../images/header-bg.png) center top no-repeat;
}
.navbar-brand{
  padding:0 15px;
}
.navbar-toggle .icon-bar {
  background: grey;
}
.navbar-nav > li > a {
  margin-top: 15px;
  color: grey;
  font-weight: 600;
}
.navbar img {
  max-width: 300px;
}
#myNavbar {
  background: #fff;
}
.navbar-nav > li > a {
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}
@media (max-width: 1300px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  #myNavbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.navbar-toggle {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .navbar {
    height: 70px;
    padding: 5px;
  }
  .navbar img {
    max-width: 170px;
  }
  #myNavbar {
    margin-top: 14px;
  }
  .navbar-toggle {
    margin-top: 10px;
  }
  .usecase-banner {
    padding: 75px 0;
  }
}
@media only screen and (max-width:430px){
	.navbar img {
    max-width: 150px;
  }
}
.intro-section {
  background: url("../images/farm3.jpg");
  /*background:#008aff;*/
  height: 600px;
  padding: 0 60px;
}
.intro-section h1 {
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  margin-top: 120px;
  line-height: 55px;
}
.intro-section h1 b {
  font-size: 40px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li:active > a {
  border-bottom: 2px solid #008aff;
  color: #008aff;
  background: #fff;
  transition: box-shadow 0.8s ease-in-out;
}
.read-more {
  background: transparent;
  border: 1px solid #fff;
  width: 200px;
  height: 50px;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 50px;
}
.read-more:hover {
  color: #718cdd;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease-in-out;
} 
.bot-logo img {
  margin-top: 130px;
  height: 260px;
}
@media only screen and (max-width: 991px) {
  .intro-section {
    height: auto;
    padding: 15px 20px;
  }
  .intro-section h1 {
    font-size: 20px;
    margin-top: 30px;
  }
  .intro-section h1 b {
    font-size: 30px;
  }
  .ceo-name {
    font-size: 16px;
  }
  .read-more {
    width: 180px;
    height: 50px;
  }
  .bot-logo img {
    margin-top: 20px;
  }
}
.discover-us {
  padding: 50px;
}
.discover-us hr {
  width: 60%;
}
.discover-card {
  position: relative;
  width: 250px;
  margin-right: 20px;
  display: inline-table;
}
.hexagon {
  top: 35px;
  position: relative;
  width: 70px;
  height: 40.41px;
  background-color: #ffffff;
  margin: 20.21px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.5px;
  height: 49.5px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.2513px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hexagon:before {
  top: -24.7487px;
}

.hexagon:after {
  bottom: -24.7487px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 40.4145px;
  z-index: 2;
  background: inherit;
}
.discover-contents {
  margin: 30px 0 20px 0;
}
.discover-box {
  padding: 10px 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 260px;
}
.discover-box h4 {
  font-weight: 700;
  margin-top: 35px;
}
.discover-card img {
  position: absolute;
  top: 50px;
  width: 44px;
  z-index: 99;
  margin-left: 12px;
}
.view-more {
  background: transparent;
  border: 1px solid #808080;
  width: 120px;
  height: 33px;
  color: #718cdd;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 50px;
  position: absolute;
  left: 66px;
  bottom: 8px;
}
.view-more:hover {
  background: #718cdd;
  border: 1px solid #718cdd;
  color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease-in-out;
}

.features-section { 
  background:#008aff;
  margin: 0 15px 15px;
  height: 560px;
  padding: 50px 0;
}
.discover-us h4 {
  line-height: 30px;
}
.features-section h1 {
  text-align: center;
  color: #fff;
}
.features-box {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  display: inline-block;
  width: 310px;
  min-height: 65px;
  text-align: left;
  margin-bottom: 35px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 65px;
  display: inline-flex;
}
.features-box img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 5px;
  margin-right: 25px;
}
.features-content {
  margin-top: 60px;
}
.feat-line {
  position: absolute;
  max-height: 430px;
  left: calc(50vw - (/* width */ 692px / 2));
}
.discover-box p {
  line-height: 24px;
}
.discover-sub h4 {
  padding: 0 100px;
}
@media only screen and (max-width: 991px) {
  .discover-us {
    padding: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .features-section {
    height: auto;
  }
  .feat-line {
    display: none;
  }
  .features-section {
    padding: 30px 0;
  }
  .features-content {
    margin-top: 35px;
  }
  .features-box {
    margin-bottom: 25px;
  }
  .discover-sub h4 {
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .features-box {
    width: 270px;
  }
}

.usecase-banner .usercase-banner-blocks {
  padding: 20px 100px;
}
.usecase-banner .blocks {
  width: 270px;
}
.usecase-banner .head {
  color: #202021;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.usecase-banner h3 {
  border-bottom: none !important;
  color: #585bb6;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.usecase-banner p {
  color: #929598;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.usecase-banner .borderline {
  border: 0.8px solid #b7b7b7;
  width: 184px;
  position: relative;
}
.usecase-banner hr {
  width: 40%;
}
.usecase-banner caption {
  padding: 6px;
}
.usecase-banner .footer p {
  color: #585bb6;
  line-height: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.usecase-banner .caption-footer img {
  vertical-align: middle;
  height: 20px;
  margin-top: -6px;
  margin-left: 3px;
}
.conversation-block {
  background-color: #00192e;
  min-height: 120px;
  position: relative;
}
.conversation-block .conversation-content {
  text-align: center;
  font-size: 20px;
  padding: 75px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.conversation-content img {
  width: 106px;
  position: absolute;
  right: 30px;
  bottom: 60px;
}
.conversation-content .image-below-content {
  color: #fff;
  position: absolute;
  right: 30px;
  bottom: 21px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.conversation-content {
  font-family: "Raleway", sans-serif;
}
.footer {
  background: url(../images/get-ready-new-bg2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px;
}
.caption-footer p {
  color: #585bb6;
}
.footer h4 {
  color: #fff;
}
.footer .menuheading ul {
  margin: 0;
  padding: 0;
}
.footer .menuheading ul li {
  list-style-type: none;
}
.footer .menuheading ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 34px;
  padding: 20px 0px;
  font-family: "Raleway", sans-serif;
}
.footer .menu li a img {
  width: 25px;
  padding-right: 10px;
}
.footer .social-icons a {
  padding-right: 20px;
  text-decoration: none;
}
.social-icons img {
  width: 18px;
  margin-top: 15px;
}
.contact-information {
  position: fixed;
  bottom: 86px;
  right: 30px;
  text-align: center;
}
.contact-information p {
  color: #fff;
  background-color: #59c6cc;
  width: 205px;
  padding: 14px 20px;
  border-radius: 5px;
}
.footer-links {
  margin-top: 40px;
}
.footer-links .pull-left {
  float: left;
}
.footer-links ul {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}
.footer-links ul li {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #fff;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
}
.footer-links ul li:last-child {
  border: none !important;
}
.footer-links .contact-info li {
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
  padding-left: 10px;
}
.contact-information p:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #59c6cc;
  position: absolute;
  bottom: 37px;
  left: 48%;
  margin: 0 0 0 -3px;
  z-index: 100;
}
.menuheading {
  margin-bottom: 20px;
}
.usecase-banner {
  padding: 75px 0;
}
.thumbnail {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 591px) {
  .usecase-banner .usercase-banner-blocks {
    padding: 20px;
  }
}
#morningo-con{
	padding: 34px 44px;	
}
#morningo-con h2{   
	color: #414042;
    font-weight: 700;
    letter-spacing: -.5px;
	font-size: 48px;
    line-height: 50px;
	text-align:center;
}
.morningo-scroll{
	margin:0px auto 80px;
	color:red;
}
.morningo-scroll .morningo-img{
	float:right;
}
.morningo-scroll .morningo-caption{
	width: 50%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
    text-align: -webkit-center;
    margin-top:50px;
	background-color: #53a843;
}
.morningo-row .morningo-img{
	float:left;
}
.morningo-row .morningo-caption{
	width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
	float:right;
	text-align: -webkit-center;
    margin-top: 50px;
	background-color: #53a843;
}
.morningo-img img{
	height:250px;
	width:555px;
	margin-top:50px;
	padding-left: 12px;
    padding-right: 12px;
}
.morningo-scroll h3,.morningo-row h3{
	color:white;
	margin-top:86px;
}
.retailers p{
	color:white;
	margin-top:85px;
}
.morningo-scroll p,.morningo-row p{
	color:white;
}
@media only screen and (min-width: 768px){
.front-retailer-section {
	height: 500px;
    padding: 0;
	background: url(../images/super_2.jpg);
}
}
.front-retailer-section {
	background: url(../images/super_2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 64px 24px;
    position: relative;
}
.front-retailer-section .hero-overlay {
    background-color: rgba(0,0,0,.3);
}

.hero-overlay, #video-overlay {
    background-color: rgba(0,0,0,.2);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.front-retailer-section .front-retailer-content.retailer-logos {
    width: 100%;
}
@media only screen and (min-width: 768px){
.front-retailer-section .front-retailer-content {
    padding: 156.5px 0;
}
.front-retailer-section .front-retailer-content {
    text-align: center;
}
}
@media only screen and (min-width: 768px){
.retailer-logos {
    display: inline-block;
}
.retailer-logos {
    max-width: 100%;
    min-width: 0;
    width: auto;
}}
.front-retailer-section .front-retailer-content h2 {
    color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 768px){
.morningo-scroll .morningo-caption{
	width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
    text-align: -webkit-center;
    margin-top:50px;
	background-color: #53a843;
}

.morningo-row .morningo-caption{
	width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
	text-align: -webkit-center;
    margin-top: 50px;
	background-color: #53a843;
}
.morningo-img img{
	height:250px;
	width:100%;
	margin-top:50px;
	padding-left: 12px;
    padding-right: 12px;
}
}
body #categories-row {
    padding-top: 2.142em;
}
#categories-row {
    background-color: #f2f2f2;
    clear: both;
    padding: 4.284em 1.071em 1.2em 1.071em;
}
.v-x2-padding {
    padding: 2.142em 0;
}
.text-align-center {
    text-align: center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.max-width {
    max-width: 1170px;
}
.max-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
#categories-row .category-block .category-wrapper {
    transition: all 0.4s ease;
    overflow: hidden;
}
section .category-wrapper {
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
section .category-wrapper:hover a img, section .category-wrapper.active a img {
    opacity: 0.8;
}
section .category-wrapper .category-image img {
    min-height: 230px;
    height: auto;
    width: auto;
}
section .category-wrapper a img {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
section .category-wrapper img {
    display: block;
    max-height: auto;
    max-width: auto;
    width: 100%;
} 
section .category-wrapper .category-header {
    font-size: 20px;
    font-family: unica one;
    text-transform: uppercase;
    font-weight: bold;
}
section .category-wrapper .category-header {
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    overflow: hidden;
}
section .category-wrapper a h2 {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #2ac551;
    margin: 0;
    padding: .714em .5355em;
}
section .category-header {
    color: #575757;
    font-family: "Open Sans",sans-serif;
}
section .category-header {
    font-size: 48px;
    font-weight: 700;
    position: relative;
}
#categories-row .category-block {
    margin-bottom: 1.071em;
}
body section .category-block {
    margin: 1.071em 0;
}
.dbp-xs-12 {
    width: 100%;
}
.dbp-xs-1, .dbp-xs-2, .dbp-xs-3, .dbp-xs-4, .dbp-xs-5, .dbp-xs-6, .dbp-xs-7, .dbp-xs-8, .dbp-xs-9, .dbp-xs-10, .dbp-xs-11, .dbp-xs-12 {
    float: left;
}
.dbp-xs-1, .dbp-xs-2, .dbp-xs-3, .dbp-xs-4, .dbp-xs-5, .dbp-xs-6, .dbp-xs-7, .dbp-xs-8, .dbp-xs-9, .dbp-xs-10, .dbp-xs-11, .dbp-xs-12, .dbp-sm-1, .dbp-sm-2, .dbp-sm-3, .dbp-sm-4, .dbp-sm-5, .dbp-sm-6, .dbp-sm-7, .dbp-sm-8, .dbp-sm-9, .dbp-sm-10, .dbp-sm-11, .dbp-sm-12, .dbp-md-1, .dbp-md-2, .dbp-md-3, .dbp-md-4, .dbp-md-5, .dbp-md-6, .dbp-md-7, .dbp-md-8, .dbp-md-9, .dbp-md-10, .dbp-md-11, .dbp-md-12, .dbp-lg-1, .dbp-lg-2, .dbp-lg-3, .dbp-lg-4, .dbp-lg-5, .dbp-lg-6, .dbp-lg-7, .dbp-lg-8, .dbp-lg-9, .dbp-lg-10, .dbp-lg-11, .dbp-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
.dbp-md-4 {
    width: 33.3%;
	}
}
@media (min-width: 992px){
	.dbp-md-1, .dbp-md-2, .dbp-md-3, .dbp-md-4, .dbp-md-5, .dbp-md-6, .dbp-md-7, .dbp-md-8, .dbp-md-9, .dbp-md-10, .dbp-md-11, .dbp-md-12 {
    float: left;
	}
}
@media (min-width: 768px){
.dbp-sm-4 {
    width: 33.33333333%;
	}
}
@media (min-width: 768px){
.dbp-sm-1, .dbp-sm-2, .dbp-sm-3, .dbp-sm-4, .dbp-sm-5, .dbp-sm-6, .dbp-sm-7, .dbp-sm-8, .dbp-sm-9, .dbp-sm-10, .dbp-sm-11, .dbp-sm-12 {
	float: left;
	}
}
#myBtn {
  width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#myBtn:hover {
  background-color:#53a843;
}
